*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #E1DEE3;
}
.Game{
    height: 50vh;
    width: 30vw;
    /* background-color: #90e0ef; */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.boxes{
    width: 30%;
    height: 30%;
    background-color: #D5A18E;
    border: 1px solid #B9314F;
    box-shadow: 5px 2px 12px #3A4F41;
    font-size: 80px;
    border-radius: 20px;
    margin: 5px;
}
#reset{
    width: 10%;
    height: 10%;
    border-radius: 20px;
    color: #b1d5db;
    background-color: #B9314F;
    font-size: medium;
}
#hiddenReset{
    visibility: hidden;
}
.Msg{
    visibility: hidden;
}
.winMsg{
    visibility: visible;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3A4F41;
}
#newGame{
    width: 10%;
    height: 10%;
    border-radius: 20px;
    color: #b1d5db;
    background-color: #03045e;
    font-size: medium;
}